<form asp-action="Login" method="post">
    <input name="email" placeholder="Email" />
    <input name="password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</form>
